
body {
	background: #ffffff url(../images/bg-body.jpg) repeat left bottom;
	font-family: "Times New Roman", Times, serif;
	margin: 0 auto;
}
#background {
	background: #F2F2F2;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
p {
	text-indent: 2em;
	font-size: 22px;
	padding: 0px 20px;
}
a {
	color: blue;
}
h1 {
	color: white;
}

/* ----------PREHEADER---------- */ 
#preheader { 
	width: 800px;
	height: 20px;
	clear: both;
	text-align: center;
	margin: 0px auto;
}
#preheader ul { 
	list-style: none;
	/*display: inline-block;*/
	float: right;
	margin: 0;
	height: 20px;
}
#preheader ul li { 
	display: inline-block;
	padding: 0px 3px;
	height: 20px;
}
#preheader li a {
	color: #7D8B9A;
	display: block;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
}
/* -----------LOGOS------------- */
#container_header {
	width: 800px;
	height: 36px;
	margin: 0 auto;
	padding: 2px;
}
#logo_uci {
	float: left;
	margin-top: 4px;
}
#logo_name{
	float: right;	
	margin-right: 2px;
	/*line-height: 74px;*/
	margin-bottom: 0px;
	padding: 0px; 
	color:black;
}
#container_header > div > ul {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#container_header > div > ul > li {
	padding: 0px;
	margin: 0px;
}
#linked_in {
	padding: 0px;
	margin: 0px;
	color: blue;
	font: 16px Arial, Helvetica, sans-serif;
}
/* -----------HEADER------------ */

#navigation { 
	clear: both;
	background: url(../images/banner.png) repeat-x;
	margin: 0 auto;
	padding: 0px;
	height: 36px;
}
#navigation ul {
	list-style: none;
	background: url(../images/banner.png) repeat-x;
	height: 36px;
	width: 800px;
	margin: 0 auto;
}
#navigation ul li { 
	display: inline-block;
	height: 36px;
	width: 155px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-right: solid 1px silver;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 16px/30px Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px;
}
#navigation li:first-child {
	border-left: solid 1px silver;
	margin-left: -18px;
}

/* -----UNDER CONSTRUCTION--------*/
#under_construction {
	padding: 300px;
	display:block;
	margin: center;
}

/* -----------PAGE--------------- */
#page {
	background: url(../images/background.png);
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 800px;
	margin: 2px auto;
	padding: 3px;
	height: auto;
	color:white;
}
#con_image{
	margin-left: 300px;
    margin-top: 125px;
	width: 200px;
	height: 200px;
	float: center;
}
#button{
	margin-left: 350px;
	margin-top: 100px;
}	

/* ------------HOME--------------- */
#about {
	font: 16px Times;
	color: white;
	width: 800px;
	height: 300px;
}
#about >  ul {
	float: left;
	list-style: none;
	height: auto;
	width: 480px;
}
#about > ul > li:first-child {
	padding-top: 2px;
	font: bold 26px Times;
	padding-bottom: 2px;
}
#about > ul > li:last-child {
	padding-top: 5px;
	font: 18px Times;
}
#intro {
	font: bold 20px Times;
}
#about > img{
	float: right;
	padding-right: 50px;
	padding-top: 20px;
}

#body {
	width: 780px;
	padding-left: 36px;
}
#summary > h2, h3 {
	/*width: 780px;*/
	display: inline;
	padding-right: 4px;
}
#tables {
	border-spacing: 20px 0px;
	padding-bottom: 20px;
}
#tables tr td{
	vertical-align: top;
	border-left: 2px solid;
	border-right: 2px solid;
	font: 18px Times;
	width: 210px;
	height: auto;
}
#tables tr:first-child > td{
	font: bold 20px Times;
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-align: center;
}
#tables tr:last-child > td{
	border-top: none;
	border-bottom: 2px solid;
	padding: 5px 2px;
	height: auto;
}
#sources  {
	padding: 0px;
	margin: 0px;
	list-style-type: none
}
#sources  li { 
	padding: 3px;
	margin: 0px;
	display: inline;
}
#description > td{
	padding: 8px 2px 0px 5px;
}
#centered > td > ul {
	text-align: center;
}
#overline > td > ul {
	border-top: 2px solid;
}
/* -----------PROJECTS------------ */
#projects {
	padding: 10px 40px;
	height: auto;
}
#projects > h1 {
	color: white;
	padding-left: 0px;
}
#projects > p {
	color: white;
	padding: 0px;
}
#projects > ul {
	font: 20px Times;
}
/* -----------COURSES------------ */
#courses{
	color: white;
	padding: 10px;
}
#courses > ul{
	/*font: bold 14px Arial, Helvetica, sans-serif;*/
	padding: 2px 25px;
	font: 20px Times;
	list-style: none;
}
#courses > ul > li{
	padding: 5px;
}

/* -----------AWARDS------------- */
#awards{
	color: white;
	/*font: bold 18px Arial, Helvetica, sans-serif;*/
	padding: 20px;
	font: 22px Times;
	/*width: 780px;*/
}
#awards table {
	padding: 30px;
}
#awards td{
	padding: 10px;
	vertical-align: top;
}
#awards td:first-child{
	padding: 10px;
	width: 100px;
	vertical-align: top;
}

/*------------IMAGES---------------*/
#images {
	padding: 20px;
	height: auto;
}


#images img {
	height: 150px;
	width: 150px;
	padding: 5px;
}
